[2018-11-22 16:52] alanshaw opened #16 "Catch up summary 2018-11-21"
Apologies I wanted to get this done yesterday. Hopefully this captures our conversation:

## Summary

@Elexy gave a presentation demoing the current setup. 3 basic benchmark tests currently.

Infrastructure requirements were ironed out with @eefahy. See conversation here https://github.com/ipfs/infrastructure/issues/452#issuecomment-440710585 for details.

@mcollina identified a perf issue for nod

[2018-11-22 17:02] alanshaw commented on #16
You can specify the `bits` for the generated key - 512 is really fast but you can elminate it completely using the `privateKey` param https://github.com/ipfs/js-ipfs#optionsinit

Note that you might want to use this module for spawning nodes https://github.com/ipfs/js-ipfsd-ctl which might come in useful when we start benchmarking against a Go IPFS daemon.

In the catch up we spoke about whether t

[2018-11-22 17:07] mcollina commented on #16
@alanshaw can you please verify if the info in https://github.com/ipfs/benchmarks#run-tests-locally is sufficient for you to run things locally?

[2018-11-22 17:08] mcollina opened #17 "Create a guide on how to add new benchmarks"
As discussed in #16.

[2018-11-22 17:11] mcollina opened #18 "Add info in the README about repo layout, purpose, infra image, URLs for deployed services etc."
As discussed in #16.

[2018-11-22 19:55] Elexy commented on #16
just a thought; can't you generate the key as part of `npm install` ?

[2018-11-23 08:34] Elexy commented on #18
I will get a few things done for this issue:
* [ ] README to be updated with repo layout
* [ ] Add description of purpose
* [ ] Description of infra image
* [ ] URLs for deployed services etc
Will add links to PRs for each task

[2018-11-23 09:32] Elexy commented on #18
Repo layout https://github.com/ipfs/benchmarks/pull/19

[2018-11-23 09:38] alanshaw commented on #16
2048 is the default - 512 is not secure enough. In the future we need to restrict the `bits` parameter to discourage users from generating insecure keys. The Go implementation already does this with the minimum set at 1024.

I'm not 100% sure I understand the question. I suggested these methods as potential solutions for initialising nodes in the benchmarking tests to avoid a long initialization t

[2018-11-23 10:51] Elexy commented on #18
@mcollina URL can be added when the system is deployed.

[2018-11-23 11:01] mcollina commented on #16
Effective benchmarks reflect real-world usage. Removing the key generation _unblocks_ us for discovering other issues, but the problem remains. I would like to avoid a case where we generate data that is not valuable because it does not reflect real-world usage.

[2018-11-23 13:44] alanshaw commented on #16
Of course! As I understood it, the data for the current benchmarks is only being recorded after a node was initialized, started and ready. Do you think that if we passed a 2048 bit pregenerated key it will be close enough to real-world usage when the benchmarks begin? I think yes, it would be good enough for the time being, and we can make the switch when the real issue is addressed.

This is tota

[2018-11-27 14:44] Elexy opened #21 "Store benchmarks results in IPFS"
@alanshaw Can you offer any guidance on how we can store the results of the benchmarks on IPFS?
Any specific location or format?

[2018-11-28 11:16] alanshaw commented on #18
@Elexy FYI https://github.com/ipfs/benchmarks/blob/master/REPOSITORY.md linked to from the README is a 404 atm

[2018-11-28 13:31] alanshaw opened #22 "No such file or directory: './infrastructure/local/docker-compose.yaml'"
I'm running:

[code]

From https://github.com/ipfs/benchmarks/blob/master/runner/README.md

[2018-11-29 08:17] Elexy commented on #22
@alanshaw that will be fixed and documented in this branch https://github.com/ipfs/benchmarks/tree/add-trigger

[2018-12-03 09:14] alanshaw opened #27 "Catch up summary 2018-11-28"
https://cryptpad.fr/code/#/2/code/edit/JWof3cTi1gXKSc+W-x6zPwXg/

## Action items

* [x] Clear documentation exists for provisioning the machines locally (@elexy)
* [x] Complete documentation for adding benchmark tests (@litzenberger)
* [x] Complete and document trigger HTTP endpoint (@elexy)
* [x] Deploy to production machines (@litzenberger / @elexy)
* [x] Ensure dashboard is available at `bench

[2018-12-03 14:12] mcollina opened #28 "sizes of files to add"
We are currently uploading a 1 MB and 10KB files. What are representatives numbers for ipfs? Should we benchmark with 10 MB, 100 MB and maybe even 1 GB?

@alanshaw can you help with some guidance here?

[2018-12-03 14:41] mcollina commented on #28
I've generated a flamegraph:

https://upload.clinicjs.org/public/e68fab713e740f151ae0e64c2de8b2cd2dbf75cb38300f177ba836c008a58980/66859.clinic-flame.html

and as you can see there are no clear bottlenecks, and most of those are initialization things. We just don't have enough data.

I've also generated a bubbleprof diagram: https://upload.clinicjs.org/public/1dd8f6f876c572334c0000e377e102db1286027

[2018-12-03 17:53] mcollina commented on #28
The sizes should be in https://github.com/ipfs/interop/blob/master/test/exchange-files.js.

@litzenberger can you use these?

[2018-12-04 11:11] mcollina opened #34 "Link to grafana in the README"
As titled, it would be very useful

[2018-12-04 11:12] mcollina opened #35 "Add memory consumption to grafana"
As titled

[2018-12-04 13:12] Elexy commented on #22
merged https://github.com/ipfs/benchmarks/pull/23

[2018-12-04 13:12] #22 closed

[2018-12-04 14:29] mcollina commented on #17
Done in https://github.com/ipfs/benchmarks/tree/master/tests#adding-new-tests

[2018-12-04 14:29] #17 closed

[2018-12-04 14:31] mcollina commented on #16
I think all of what is described here on our side has been done.

---

is this ok @alanshaw?

Can you please test and verify?

[2018-12-04 14:48] litzenberger commented on #21
@alanshaw Could you provide us with an example of what is needed to send the files to the IPFS cluster?  Thanks

[2018-12-04 17:10] Elexy commented on #34
Done: https://github.com/ipfs/benchmarks/blob/master/README.md#benchmarks-on-the-web

[2018-12-04 17:10] #34 closed

[2018-12-04 17:11] Elexy opened #36 "Up date tests doc"
@litzenberger https://github.com/ipfs/benchmarks/blob/master/tests/README.md has no mention of the multi-peer-transfer test

I think it generally could use more content
* how the tests work
* explain architecture

[2018-12-05 09:07] alanshaw commented on #21
Update: I've been in touch with the cluster team and we're waiting on credentials to be approved. We'll need `ipfs-cluster-ctl` installed on the machine https://dist.ipfs.io/#ipfs-cluster-ctl

[2018-12-05 10:37] hsanjuan commented on #21
It should be ready, let me know how to pass the credentials.

`ipfs-cluster-ctl --host /dnsaddr/cluster.ipfs.io --basic-auth <user:pw> add yourfile.bin` is the fastest way to add something to cluster.

[2018-12-05 11:06] mcollina opened #41 "Broken on Node 11"
[code]

Maybe it's not us, we might need to escalate.

[2018-12-05 14:23] litzenberger commented on #41
@mcollina Did you rebuild after changing versions?  I do that when going between different versions of node to get past this error.

[2018-12-05 14:46] mcollina opened #43 "Fix 504 Gateway on API"
As titled

[2018-12-05 15:43] alanshaw opened #44 "Catch up summary 2018-12-05"
https://cryptpad.fr/code/#/2/code/edit/QoUwIsoJCT+8mfK1TZTMuIo3/

## Action items

* [x] Video with demo of dashboard (@Elexy) - https://github.com/ipfs/benchmarks/issues/44
* [x] Integrate trigger with CI (@Elexy) - https://github.com/ipfs/infra/issues/464
* [x] Setup storing things on IPFS (@Elexy)
* [x] Setup and demo clinic (demo scheduled for dec 11) (@mcollina)
* [x] Browser tests ongoing (@

[2018-12-06 03:01] litzenberger commented on #41
To scwith node version, rm node_modules then npm install.

[code]

[2018-12-06 03:54] litzenberger commented on #28
These have been added and a pre-generated script.

[2018-12-06 03:55] #28 closed

[2018-12-06 06:59] #41 closed

[2018-12-06 14:42] mcollina opened #46 "Move tests/local-extract.js to just use cat"

[2018-12-06 15:04] mcollina opened #47 "use catReadableStream instead of cat"

[2018-12-07 13:53] litzenberger opened #50 "Create tests"
- [x] Node initialization - Node.js (timing around creating a repo without pregen key)
- [x] Node initialization - Browser
- [x] Add files - Browser
- [x] Cat files (websocket, mplex, secio) js0 -> js1 - Browser
- [x] Cat files (websocket, mplex) - Node.js
- [x] Cat files (websocket, mplex, secio) js01234->js5 - Node.js

[2018-12-07 13:56] litzenberger opened #51 "Verify test files are created before running tests"
Verify test files are created before running tests

[2018-12-08 00:02] litzenberger commented on #51
pr https://github.com/ipfs/benchmarks/pull/53

[2018-12-08 00:07] #46 closed

[2018-12-10 11:16] alanshaw commented on #27
@Elexy this last point is complete right? Shall we close this issue?

[2018-12-10 11:21] mcollina opened #55 "multi-peer-transfer.js not exiting 100% of times"
Some times the benchmark stays running, it seems we are not closing all nodes properly.

[2018-12-10 15:20] mcollina commented on #27
Yes, we can close this!

[2018-12-10 15:20] #27 closed

[2018-12-10 16:49] mcollina opened #56 "missing LICENSE file"
Which LICENSE file should we include in this project?

[2018-12-10 19:07] mcollina opened #57 "document how to test against master"
This seems very relevant because of https://github.com/ipld/js-ipld-dag-pb/issues/109

[2018-12-10 20:43] #51 closed

[2018-12-11 13:01] alanshaw commented on #56
https://github.com/ipfs/community/blob/master/LICENSING_POLICY.md

TLDR; MIT & copyright "Protocol Labs, Inc."

[2018-12-11 13:53] #57 closed

[2018-12-11 13:53] #55 closed

[2018-12-11 13:53] #47 closed

[2018-12-11 14:14] mcollina opened #63 "libp2p node is not started yet"
[code]

[2018-12-11 14:15] mcollina commented on #63
Some other times I'm getting:

[code]

[2018-12-11 14:18] litzenberger commented on #63
OK, I'll do more test.

[2018-12-11 14:20] litzenberger commented on #63
https://github.com/ipfs/js-ipfs/issues/1761

[2018-12-11 15:58] litzenberger opened #64 "Running dashboard locally"
./scripts/runLocalEnv.sh up

Does not work for me.

[2018-12-11 18:38] litzenberger commented on #64
https://github.com/ipfs/benchmarks/pull/65

[2018-12-11 18:38] #64 closed

[2018-12-11 18:40] litzenberger opened #66 "Error when running locally with Dashboard"
[code]

[2018-12-11 19:13] Elexy commented on #66
STAGE=local is the culprit here, let me have a look.

[2018-12-11 19:35] litzenberger commented on #66
I'll update the README on my branch and remove `STAGE=local`

[2018-12-12 06:56] #66 closed

[2018-12-12 09:33] #56 closed

[2018-12-12 10:55] mcollina opened #67 "Change default time visualized in Grafana to the last 30 days"
as titled

[2018-12-12 11:16] mcollina opened #68 "automate deployment of grafana dashboard"
How long do you think that would take @Elexy?

[2018-12-12 13:59] litzenberger opened #70 "Deploy dashboard documentation"

[2018-12-12 15:46] Elexy commented on #21
@hsanjuan I'm on keybase, does that help?
https://keybase.io/elexy

[2018-12-12 18:36] mcollina opened #73 "Add a page in our benchmarks about all the runs with the links to ifs"
Basically we should:

* [x] upload all the result and clinic data into a folder, adding it to ipfs will return an hash
* [x] store the hash for each run that we do in influxdb or a JSON file
* [x] add an html page in our runner that gets that data, and display them in a list. It would be fantastic to also include a number from one of the benchmarks, and maybe a quick summary of all the data for ea

[2018-12-12 23:10] hsanjuan commented on #21
@Elexy

[code]

[2018-12-13 01:34] litzenberger opened #75 "Verify master branch js-ipfs is being used on remote tests"
The current version of js-ipfs when running remote tests is version `0.33.1`  is but the master branch version is is '0.34.0-pre.0'

<img width="1194" alt="screen shot 2018-12-12 at 7 34 31 pm" src="https://user-images.githubusercontent.com/6003995/49909540-ff582c80-fe44-11e8-97d8-ecb166d4945b.png">

[2018-12-13 03:56] litzenberger commented on #75
Run local against branch use `STAGE=local REMOTE=true node local-add`

<img width="1159" alt="screen shot 2018-12-12 at 9 52 51 pm" src="https://user-images.githubusercontent.com/6003995/49914908-b90cc880-fe58-11e8-801f-d6b967ae8eb8.png">

[2018-12-13 03:56] #75 closed

[2018-12-13 04:29] litzenberger opened #77 "IPFS can't find lock file"
version: 0.34.0-pre.0

This is happening on the 5 node tests on master branch only.

[code]

[2018-12-13 04:45] litzenberger commented on #77
Looks like we are cleaning up the data files before the node has stopped.

[code]

[2018-12-13 05:41] litzenberger commented on #77
https://github.com/ipfs/benchmarks/pull/78

[2018-12-13 05:44] #77 closed

[2018-12-13 11:49] Elexy commented on #21
@alanshaw @hsanjuan trying to add a first clinic benchmark gives me this:
[code]

[2018-12-13 12:13] alanshaw commented on #21
Sorry, js ipfs doesn’t talk to cluster and I dont think there’s a JS API client for it.

There is probably a way to put the content in JS IPFS and inform cluster to slurp it up but I dont know that process or if it’ll be any easier.

@hsanjuan would know more...

[2018-12-13 15:04] litzenberger commented on #63
From my recent testing, this has been fixed by this PR https://github.com/ipfs/benchmarks/pull/78

I'm going to close this and will re-open if it appears.

[2018-12-13 15:04] #63 closed

[2018-12-13 15:06] litzenberger opened #79 "Verify warmup is working as expected"

[2018-12-13 15:08] litzenberger commented on #79
With the recent changes, warmup may not be working as expected.  Need to verify.

[2018-12-13 17:17] mcollina opened #81 "subTest.warmup.toLowerCase is not a function"
[code]

[2018-12-13 17:17] mcollina commented on #81
Also without env variables:

[code]

[2018-12-13 17:39] mcollina commented on #79
I do not think it is working as expected.

One run:

[code]

another run:

[code]

[2018-12-13 18:21] mcollina opened #82 "verify that discovery for new peers is disabled"
as titled.

How do we do that @alanshaw @daviddias?

[2018-12-13 18:23] mcollina opened #83 "no results for FILESET=One512MBFile"
[code]

[2018-12-13 21:06] hsanjuan commented on #21
hey @Elexy , I'm really sorry, the storage cluster suffered a problem just today and I was at a conference and travelling so it took some time to come into my attention. It should be fixed now.

[2018-12-14 13:44] litzenberger commented on #83
Yes, currently the file also has to be defined in the test config.  I will update it to use the file in the var passed in.

[2018-12-14 14:49] #81 closed

[2018-12-16 22:48] alanshaw commented on #82
You should be able to pass `[]` for libp2p discovery modules e.g.

[code]

https://github.com/ipfs/js-ipfs#optionslibp2p

[2018-12-19 15:16] alanshaw opened #89 "catch up summary 2018-12-12"
https://cryptpad.fr/code/#/2/code/edit/Aj4GGxNX7sqcf+NCX5lzlDp1/

No action points

[2018-12-19 15:16] #89 closed

[2018-12-19 15:18] alanshaw opened #90 "catch up summary 2018-12-19"
https://cryptpad.fr/code/#/2/code/edit/TcVY3ac2pvYx5tTihdCYd2MT/

## Action points

* [x] @mcollina to ask Go IPFS team to point to their implementaiton of atomic file writing https://github.com/ipfs/go-ipfs/issues/5863
* [x] Chunks are written serially - is that a bi-product of using pull streams or is there some other reason? @achingbrain https://github.com/ipfs/js-ipfs-unixfs-importer/issues/9

[2018-12-21 13:47] Elexy commented on #21
It works now, thanks. https://cloudflare-ipfs.com/ipfs/QmaEVMEEDjDnJAor6ayMQxSwgYJqsYCVHJcQZaHVFQgmTd

@hsanjuan Is there a `staging` IPFS I could use until I worked out the kinks?

[2018-12-21 15:49] mcollina commented on #43
@Elexy is this fixed?

[2018-12-21 15:59] litzenberger opened #92 "Add tests to dashboard"
There are several tests that need to be added to remote runner and dashboard.

- [ ] Initial browser test
- [ ] Small 100 1 KB multi file test
- [ ] Initialize node
- [ ] Local add For go

[2018-12-21 22:40] litzenberger commented on #82
Done

[2018-12-21 22:41] #82 closed

[2018-12-25 12:48] hsanjuan commented on #21
@Elexy not really, but @lanzafame can maybe provide it without much trouble? Anyways, if you're just pinning things it does not matter much if you leave some trash around.

[2018-12-26 15:46] #67 closed

[2018-12-29 22:36] litzenberger opened #105 "Remote runner will fail for certain tests"
The remote runner does not receive the complete JSON file if the test has more then 4 test files.

[code]

[2018-12-30 14:31] litzenberger opened #109 "benchmark site unavailable"
https://benchmarks.ipfs.team/

[code]

[2018-12-30 14:31] litzenberger commented on #109
@Elexy Could you look at this when you get a chance?

[2018-12-30 14:34] litzenberger opened #110 "benchmarks for go not working when using remote runner"
[code]

Is IPFS installed on the benchmark server?

[2018-12-30 14:51] litzenberger opened #111 "Alerts are need if remote runner job fails on nightly cron job ( or doesn't run )"
We need an alert either on a failed job or missing the daily points in a graph using Grafana ( not sure if Grafana has this feature)

[2018-12-30 15:32] litzenberger opened #113 "Browser tests - Need libraries installed on benchmark server"
Browser tests - we get the error `/home/ubuntu/ipfs/tests/node_modules/puppeteer/.local-chromium/linux-609904/chrome-linux/chrome: error while loading shared libraries: libX11-xcb.so.1: cannot open shared object file: No such file or directory`

I haven't tested this on the server but according to doc we need this ran on the benchmark server
`sudo apt-get install libpangocairo-1.0-0 libx11-xcb1 li

[2018-12-30 15:50] Elexy commented on #109
I will.

[2018-12-31 17:17] litzenberger commented on #111
We should be able to write alerts in Grafana.  One rule could be points in last 24 hours per test

http://docs.grafana.org/alerting/rules/

[2018-12-31 18:02] Elexy commented on #113
https://github.com/ipfs/benchmarks/pull/115

[2018-12-31 18:02] #113 closed

[2018-12-31 18:03] Elexy commented on #110
https://github.com/ipfs/benchmarks/pull/115

[2018-12-31 18:03] #110 closed

[2018-12-31 18:04] Elexy commented on #43
yep
https://benchmarks.ipfs.team/runner

[2018-12-31 18:04] #43 closed

[2018-12-31 18:05] Elexy commented on #21
This is done: https://github.com/ipfs/benchmarks/pull/114

[2018-12-31 18:05] #21 closed

[2018-12-31 18:35] litzenberger opened #117 "Unable to store some tests in DB"
[code]

[2019-01-01 17:18] litzenberger commented on #117
This has been fixed.  If it doesn't upload the results, the link in Grafana will show 'no upload'
<img width="1703" alt="screen shot 2019-01-01 at 11 18 16 am" src="https://user-images.githubusercontent.com/6003995/50574885-f9f06100-0db6-11e9-91ed-d910f379c369.png">

[2019-01-01 17:18] #117 closed

[2019-01-01 17:36] litzenberger opened #123 "IPFS not installed on benchmark"
Benchmark playbook error:
[code]

[2019-01-01 19:30] litzenberger opened #128 "GO test fails on benchmark"
[code]

[2019-01-02 06:07] #128 closed

[2019-01-02 06:08] litzenberger commented on #92
<img width="690" alt="screen shot 2019-01-02 at 12 08 34 am" src="https://user-images.githubusercontent.com/6003995/50581791-9734af00-0e22-11e9-8a44-5420ced83fa9.png">

[2019-01-02 07:15] litzenberger commented on #79
removed this feature for now.

[2019-01-02 07:33] mcollina commented on #79
why?

[2019-01-02 07:33] mcollina opened #135 "https://benchmarks.ipfs.team/ is now private?"
Can we please open this up again?

[2019-01-02 08:20] litzenberger commented on #79
It wasn't working and figured it was a lower priority over adding tests.

[2019-01-02 08:37] litzenberger commented on #83
<img width="992" alt="screen shot 2019-01-02 at 2 10 55 am" src="https://user-images.githubusercontent.com/6003995/50584812-627f2280-0e37-11e9-8ff2-cc19adcb78ba.png">

[2019-01-02 08:37] #83 closed

[2019-01-02 08:40] litzenberger commented on #73
This is now in Grafana

<img width="1845" alt="screen shot 2019-01-02 at 2 38 57 am" src="https://user-images.githubusercontent.com/6003995/50584860-a1ad7380-0e37-11e9-8e3f-b15329945952.png">

[2019-01-02 09:12] mcollina commented on #79
I think we should be fixing it in the next couple of weeks.

[2019-01-02 09:22] mcollina commented on #73
I cannot access: https://github.com/ipfs/benchmarks/issues/135.

[2019-01-02 12:06] litzenberger commented on #79
ok yep sounds good.

[2019-01-02 14:46] mcollina opened #139 "Format the uploaded result.json files so that they are human readable"
`JSON.stringify(data, null, 2)`.

[2019-01-02 15:00] mcollina opened #140 "Do a video recording of the Runner/Architecture and Dashboard"
As titled and discussed in #44.

[2019-01-02 15:01] mcollina commented on #135
Fixed.

[2019-01-02 15:01] #135 closed

[2019-01-02 15:01] #73 closed

[2019-01-02 15:02] #90 closed

[2019-01-02 15:03] mcollina commented on #70
Is this still needed?

[2019-01-02 15:22] alanshaw opened #141 "Catch up summary 2019-01-02"
https://cryptpad.fr/code/#/2/code/edit/x1BPpbuVDcAg4yjMlmFpx1x6/

## Action points

* [x] Arrange walk through for libp2p-switch and mplex, multistream-select - @alanshaw (Thursday morning or Friday ideally)
* [x] CI trigger commit SHA must be propagated - @Elexy
* [x] Video recording of runner and dashboard - @Elexy (#140)
* [ ] Write down requirements for trigger from CI (use Gitlab, no need for

[2019-01-02 15:54] litzenberger opened #142 "Fix browser warmup value in results"
Need to change warmup value from true to off to be consistent with the other tests.
<img width="1797" alt="screen shot 2019-01-02 at 9 52 59 am" src="https://user-images.githubusercontent.com/6003995/50599650-4fd70e80-0e74-11e9-93fc-d1e13787e73b.png">

[2019-01-02 16:46] litzenberger commented on #142
<img width="1845" alt="screen shot 2019-01-02 at 10 44 37 am" src="https://user-images.githubusercontent.com/6003995/50601984-9419dd00-0e7b-11e9-8fce-de53c50036c3.png">

[2019-01-02 16:46] #142 closed

[2019-01-02 20:33] litzenberger opened #144 "Remote runner with clinic hangs"

[2019-01-02 22:05] litzenberger commented on #144
Working now -
https://cloudflare-ipfs.com/ipfs/QmPG5jpcCvCqSEJnhyEdSom1WFFTKbHzEzGz2qoq4DGgnq

[2019-01-02 22:05] #144 closed

[2019-01-02 22:06] litzenberger commented on #70
No, looks like its being deployed with CI.

[2019-01-02 22:06] #70 closed

[2019-01-03 00:53] litzenberger commented on #139
fixed: https://cloudflare-ipfs.com/ipfs/QmWAf3Dz9C27op7YUXr8Y2PaY3fiH9FPBzshbXoKDcF3oV/addMultiKb/results.json

[2019-01-03 00:53] #139 closed

[2019-01-03 14:07] mcollina opened #147 "Include the full log of the run in the ipfs bundle"
As titled.

[2019-01-03 14:07] mcollina opened #148 "Highlight when we have clinic data in the dashboard"
As titled.

[2019-01-03 14:19] mcollina opened #149 "Add Go benchmarks"
* [ ] Cat files (local) go0 - Go
* [ ] Cat files (webrtc, mplex, secio) go01234->go5 - - Go

[2019-01-04 15:04] Elexy opened #150 "Logs"
@alanshaw The logs from the runner are currently only viewable on the VM.
Do you have a centralized logging server I can send the logs to for easy viewing and alerting?

Alternatively I could connect logz.io community edition or similar.

/cc @daviddias @mcollina

[2019-01-04 15:51] litzenberger opened #151 "Verify numbers"
- [x] Verify numbers on the graph tool match runs from benchmark server
- [x] Compare `ipfs add files` and `node unixFsAddGo` are in the same range.

[2019-01-04 16:17] litzenberger commented on #151
his is the time i get adding the 64MB file locally
[code]

[2019-01-04 16:17] #151 closed

[2019-01-04 16:18] #111 closed

[2019-01-04 16:18] litzenberger commented on #111
Not going to be able to implement.

[2019-01-04 16:19] mcollina commented on #151
How much time does it take to do the JS one?

[2019-01-04 20:16] litzenberger commented on #151
JS time:
[code]
cc @mcollina

[2019-01-07 11:31] mcollina commented on #50
Is "Add files" done in #153? Can you please update the big table in the README?

[2019-01-07 15:41] litzenberger commented on #50
Yes, add single file and the 100 small files are done on the dashboard.  README big table is current.
https://github.com/ipfs/benchmarks/tree/master/tests

[2019-01-07 21:02] Elexy commented on #140
https://cloudflare-ipfs.com/ipfs/QmSZgcL7dyjcifZ5uJYmBDCCACfzQD5Ve2RFSoB4RdYATp

[2019-01-07 21:02] #140 closed

[2019-01-07 21:05] mcollina commented on #140
Can you add that in the README?

Il giorno lun 7 gen 2019 alle 22:02 Alex Knol <notifications@github.com> ha
scritto:

[2019-01-08 18:36] Elexy commented on #18
fixed in https://github.com/ipfs/benchmarks/pull/159, now pointing to https://github.com/ipfs/benchmarks/blob/master/CONTRIBUTING.md

[2019-01-08 18:36] #18 closed

[2019-01-09 08:35] mcollina commented on #105
Is this still an issue?

[2019-01-09 08:36] mcollina commented on #36
I think this is done and can be closed.

[2019-01-09 08:36] #36 closed

[2019-01-09 14:47] Elexy opened #165 "Gzip Clinic files"
Compress the clinic files before upload

[2019-01-09 15:03] daviddias opened #166 "Add running the benchmarks to the Release dance of future version js-ipfs, js-ipld and js-libp2p"

[2019-01-09 15:25] litzenberger opened #168 "Remote runner stops"
The remote runner will stop if a benchmark test fails.  This needs to be handled so that the data can be written to the DB.

`Jan 09 00:12:36 ip-172-31-44-15 node[15509]: ERROR [1546992756965] (15509 on ip-172-31-44-15): cat: /tmp/out/peerTransferBrowser.json: No such file or directory`

[2019-01-09 17:07] Elexy opened #169 "Make the runner self healing"
If the runner is stuck for a long time or becomes unresponsive the current job is probably messing it up.

This needs to be detected, the current job should be removed and runner restarted.

p.s. The queue we use does not support removing `started` jobs.

[2019-01-09 17:08] Elexy commented on #169
We use `systemd` to manage the runner, so this may be of help:
https://www.npmjs.com/package/sd-notify

[2019-01-10 01:07] litzenberger opened #172 "Browser build not updated on test sync"
When the tests are out of sync, they get updated but the browser/build does not.  This should be updated as well.

When tests are out of sync:

- [x] copy tests
- [x] get latest js-ipfs and install
- [x] /tests npm install
- [x] /tests npm run build-browser

These tasks are defined in benchmarks.yaml but they are not being executed.

[2019-01-10 13:08] litzenberger opened #173 "Date in dashboard does not match test date"
<img width="1084" alt="screen shot 2019-01-10 at 7 04 01 am" src="https://user-images.githubusercontent.com/6003995/50970250-7c0f1280-14a6-11e9-8779-370d3c0adb74.png">
<img width="469" alt="screen shot 2019-01-10 at 7 04 19 am" src="https://user-images.githubusercontent.com/6003995/50970251-816c5d00-14a6-11e9-8c8a-11a6a2fdba07.png">

[2019-01-10 13:11] #168 closed

[2019-01-10 14:24] litzenberger opened #174 "Browser tests in production fail due to timeout"
Browser tests fail for tests that use the public Rendezvous server.
I can ping it but the tests fail.

[code]
Curl works also
[code]
to test:

`ubuntu@js-ipfs-benchmarking:~/ipfs/tests$ node peer-transfer.browser.js`

Is there anything on the server preventing from listening?
[code]

[2019-01-10 15:18] litzenberger commented on #174
I added more logging on the node side.  Doesn't  appear to connect to the Rendezvous server.  Here is the expected put from running `node peer-transfer.browser.js`:

[code]

[2019-01-10 15:19] litzenberger commented on #174
It uses websockets for the connection.

`ws://95.179.134.100:9090/socket.io/?EIO=3&transport=websocket'`

[2019-01-10 16:18] Elexy commented on #174
@eefahy could there be anything in the way of hitting the rendezvous server from the bare metal machine?

[2019-01-10 17:56] Elexy commented on #174
The problem seems to be some missing piece.

I did this: https://github.com/libp2p/js-libp2p-websocket-star-rendezvous#usage
changed the endpoint:
[code]
and then ran:
[code]

[2019-01-11 12:52] litzenberger commented on #174
Added more browser logging showed an error due to wrong version of libp2p:
[code]

Working on updating libp2p to .0.24.2

[2019-01-11 16:36] Elexy opened #176 "Tag nightly runs"
We should tag nightly runs and only display those in the default dashboard.

[2019-01-11 16:51] Elexy opened #178 "API runs tags and return object"
we should tag a run when triggered from the api.
Currently we only accept params:
[code]
To be able to related back we might also need
* PR id
* CI id

We also should return the GUID together with the jobId so the caller can relate this to the runs in IPFS and the Grafana dashboard

[2019-01-11 16:54] litzenberger opened #179 "Browser tests and Rendouze server"
Where should the rendezvous server run?   We have two options:

1. Run it on the controller VM but it looks like the latency when transferring files is included in the test.

2. Run it on the ARM bare metal machine using the `npm install --global libp2p-websocket-star-rendezvous`l but this will also take away from the tests cpu cycles.

Which is preferred?

Examples of when I run the rendezvous se

[2019-01-11 23:17] #174 closed

[2019-01-14 23:19] litzenberger opened #186 "multi-peer browser test error"
started to receive this error when running the multi-peer:
[code]

[2019-01-14 23:34] litzenberger commented on #186
Found out this error is when fileset is 'OneKBFile', 'OneMBFile', 'One4MBFile', 'One64MBFile'

[2019-01-15 23:36] litzenberger commented on #172
Verified this is now working as expected

[2019-01-15 23:36] #172 closed

[2019-01-16 13:48] vmx opened #190 "Error starting local dashboard"
I tried to start the dashboard locally, but I got an error. Here's the output I got:

[code]

[2019-01-16 19:59] litzenberger opened #192 "Add units in dashboard"
Add units in the dashboard graph.

[2019-01-16 20:17] litzenberger commented on #190
Just ran it the script and didn't receive the above error.  @Elexy Have you seen this?

[2019-01-17 13:53] Elexy commented on #190
The host share is not writable `/var/lib/grafana`.

it points to:
[code]

[2019-01-18 13:43] vmx commented on #190
For me as someone not knowing much about docker. What are the steps for me to get it working locally?

[2019-01-18 14:44] Elexy commented on #190
@vmx you should create a directory `data/grafana` adjacent to `benchmarks` and make sure it's writable by the docker user

[2019-01-18 14:45] mcollina commented on #190
@Elexy can we document this?

[2019-01-18 16:15] Elexy opened #198 "Architecture to add libp2p tests"

[2019-01-18 19:43] litzenberger commented on #190
@vmx Could you get latest and try again?

[2019-01-21 11:53] vmx commented on #190
I get the same `grafana_1     | mkdir: cannot create directory '/var/lib/grafana/plugins': Permission denied`.

It's interesting though that the `grafana` directory gets created:

[code]

It seems to be a problem with permissions. When I run `sudo chmod 777 data/grafana` it starts up as expected.

I'd just like to mention that perhaps my docker setup is an issue. It's a vanilla setup on Debian, pe

[2019-01-21 13:19] mcollina commented on #190
Ahum, can we store that data in a docker volume instead? That would like solve 100% of these issues.

[2019-01-21 18:15] jacobheun opened #203 "go cat'ing from js is significantly slower the other combinations + heap out of memory"
Last week we encountered an issue running the ipfs/interop tests against the latest 0.34 js-ipfs release. When running the exchange files test, Windows hit a JS heap out of memory issue transfering a 134MB file, you can see the [ci error here](https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Finterop/detail/PR-51/5/pipeline/53/).

While investigating the issue I noticed that when cat'ing larg

[2019-01-21 18:18] mcollina commented on #203
From the call I didn't got it actually run out of memory. That's extremely bad and it will need to be fixed.

@litzenberger can you sync up  with @alanshaw when you get online tomorrow? He would like to add that benchmark. Once that is up, we can see what clinic will tell us.

[2019-01-22 14:32] Elexy commented on #176
Seems like a presentation problem in grafana

[2019-01-22 14:33] Elexy commented on #173
Seems like a presentation problem in grafana

[2019-01-22 14:36] Elexy commented on #190
Will do.

[2019-01-22 14:37] litzenberger commented on #203
Yes, will write this test now.

[2019-01-22 14:42] Elexy opened #204 "Running time"
Currently A full run including Clinic takes ~45 minutes.
@alanshaw @daviddias @hugomrdias when we start running these things on PRs or Commits and add even more tests or combinations, we quickly run out of hours in a day.

Maybe CI runs shouldn't include `clinic` by default, only if we see a performance issue (strong deviation) perhaps?

[2019-01-22 15:53] vasco-santos commented on #204
I think we should run them automatically in each release for tracking history. Then, in the major features, we could simply have a way to trigger it manually

[2019-01-22 15:56] hugomrdias commented on #204
i can add it as a manual job in the pipelines also could make sense to be able to select what gets ran with querystring params

[2019-01-22 18:34] Elexy commented on #204
Thanks @hugomrdias.
Right now we can specify on the runners' API to included clinic or not. But we could pull more parts of the run config into the API.
https://github.com/ipfs/benchmarks/blob/master/runner/config.js#L76
So the contents of `config.js` serves as a default and you can override through the API.

[2019-01-24 15:33] litzenberger commented on #203
Added js -> go and go -> js.  Here are the results running locally:

js -> go
[code]
go -> js
[code]

[2019-01-24 15:50] litzenberger commented on #203
Clinic reports for js -> go

https://upload.clinicjs.org/public/238842ad20f8542b91743e377f21ab9f455dcddfea3bc0702830c401da302bbf/34523.clinic-doctor.html

https://upload.clinicjs.org/public/d0491b68df5b070fa226600ac4ce0389d04f35ab4e7f2aa0c718d5ae615101e4/34583.clinic-flame.html

https://upload.clinicjs.org/public/ad48c42cc98c35249690f2a8bb8b7a05880de6e8b3f781a5c720c42e06d0489c/34730.clinic-bubblep

[2019-01-25 11:20] vasco-santos commented on #198
Any update on this @Elexy @mcollina ?

[2019-01-25 13:21] alanshaw opened #211 "Catch up summary 2019-01-25"
https://cryptpad.fr/code/#/2/code/edit/Hf+cXfW0YzEC3IbkHRNBhcoR/

[2019-01-25 14:23] Elexy commented on #190
Changed to docker volumes. @vmx could you try this branch https://github.com/ipfs/benchmarks/pull/212 ?

[2019-01-25 14:32] vmx commented on #190
Works for me! I can see the Grafana dashboard on `localhost:3000`.

BTW: I also fixed my setup locally. The `sudo` in the instructions is not really needed. I think it should be removed.

[2019-01-25 14:59] litzenberger opened #214 "Need advise on testing different protocols"
Working on some of the different tests and need help verifying the connections protocols match and others I'm not sure yet how to make the connection.  Please advise:

(tcp, mplex)  -> swarm connection address =  "/ip4/0.0.0.0/tcp/4012"
(websocket, mplex)   ->swarm connection address = "/ip4/0.0.0.0/tcp/4022/ws"
(tcp, mplex, secio) -> ????
(websocket, mplex, secio) -> ????
(tcp, spdy) -> ??
(webso

[2019-01-25 15:41] litzenberger commented on #214
@alanshaw Are there examples of how js-ipfs uses the different above transports?

[2019-01-25 16:24] litzenberger commented on #214
@vasco-santos Could you review my questions here?

[2019-01-25 16:43] alanshaw commented on #204
+1

[2019-01-25 20:05] litzenberger opened #216 "Modify run command to accept IPFS options."
the experimental options are outside the config scope. It is an option of ipfs in the same level. I think the best way would be to pass the all options for the ipfs instance:

new IPFS({
  config,
  EXPERIMENTAL: {},
  ...optionsParam
})
https://github.com/ipfs/js-ipfs#optionsexperimental

[2019-01-26 08:12] #190 closed

[2019-01-28 08:36] Elexy commented on #198
Working on this today.

[2019-01-28 09:52] Elexy commented on #198
@vasco-santos I've added a branch with a design diagram.
https://github.com/ipfs/benchmarks/blob/add_libp2p_arch/runner/Libp2p%20Runner.png
The key differentiator would be the provisioning.
This takes care of setting up the right libs at the right version on the `Minion`.

[2019-01-28 09:57] Elexy commented on #198
@vasco-santos I've made a [design diagram](https://github.com/ipfs/benchmarks/blob/add_libp2p_arch/runner/Libp2p%20Runner.png)

The main difference is the `Provisioning`. This is where we make sure the `minion` has the right libs at the right version before we run the benchmarks.

[2019-01-28 14:54] vasco-santos commented on #198
Thanks for the proposal @Elexy !

So, in this approach we need to use this repo for all the tests and mark each test as being part of a project?

[2019-01-28 15:35] Elexy commented on #198
Hi @vasco-santos
The way we get the library in the test bench is quite specific to this setup.
https://github.com/ipfs/benchmarks/blob/master/tests/getIpfs.sh
The config.js also relies on paths defined by ENV vars (or defaults) for this project.

We could generalize is even more and make it a generic runner, able to run arbitrary scripts and retrieve the output, but I'd say we'd probably be buildi

[2019-01-28 16:03] vasco-santos commented on #198
I understand that generalize this solution more, at least at this moment seems not the best approach.

I would like to have the `libp2p` benchmark tests in its own repo (`libp2p/benchmarks`). Moreover, I think it would be ok if we use this repo and infrastructure for both, and it gets the `libp2p/benchmark` tests from there. What do you think?

[2019-01-28 17:09] #186 closed

[2019-01-28 17:09] #173 closed

[2019-01-28 17:11] #50 closed

[2019-01-29 00:40] litzenberger commented on #198
@Elexy I think the js-ipfs tests in the repo are fine, he just wants to pull another repo that will need to be synced by the runner.  @vasco-santos did I read that right?

[2019-01-29 06:41] Elexy commented on #169
[this)](https://github.com/ipfs/benchmarks/pull/217) PR streams the logs so you can see where it got stuck

[2019-01-29 06:50] Elexy commented on #44
CI integration has been discussed with @hugomrdias and the action lies with him now.

[2019-01-29 06:50] #44 closed

[2019-01-29 06:53] Elexy commented on #150
@eefahy ^^

[2019-01-29 10:21] vasco-santos commented on #198
Yes, we should be able to get tests from other repos, such as `libp2p/benchmarks` repo, and in the future probably `ipld/benchmarks` as well.

[2019-01-29 11:43] mcollina commented on #203
There are several bottlenecks/slowness in the benchmarks, and there are a lot of things we can optimize. We did not see the increase of memory and releated crash on our test with 64MB of RAM. In fact, memory usage was flat. Maybe there is something else that is different in our test vs your integration? @jacobheun @alanshaw can you check?

[![image](https://user-images.githubusercontent.com/52195/

[2019-01-29 12:32] jacobheun commented on #203
I think the likely culprit here is due to the tests we were running when we hit the heap issue were dialing out to the live ipfs network. My guess is that when we're connected to multiple nodes bitswap starts spamming the network with requests. Perhaps we should add a test that connects the go and js nodes to some other passive nodes to see if there's a significant change?

I am going to start loo

[2019-01-29 13:08] mcollina commented on #203
Should we add such test ourselves? bitswap never got into our radar. How would you design such a benchmark?

[2019-01-29 13:50] Elexy commented on #198
Currently we are `rsyncing` the tests over to the minion from the controller from this repo.In the new situation I'd need to run a `git clone` of a _specified repo_ before we can run the tests run the tests.

[2019-01-29 15:34] alanshaw commented on #203
Yeah looks like `asn1.js` has a bunch of calls to `new Buffer`

<img width="1072" alt="screenshot 2019-01-29 at 15 32 05" src="https://user-images.githubusercontent.com/152863/51919454-5b6a1680-23db-11e9-8767-0c92467a7129.png">

[2019-01-29 15:47] alanshaw commented on #203
Using Node.js v8.15.0 I'm seeing very similar results for the same tests:

[code]

[2019-01-29 16:03] Elexy commented on #147
PR here https://github.com/ipfs/benchmarks/pull/218

[2019-01-29 16:38] alanshaw commented on #192
+1

[2019-01-29 16:47] alanshaw opened #219 "Dashboard - can we show the description for test names?"
Test names are a bit cryptic, can we get a tooltip or something that'll show the description?

[2019-01-29 16:55] alanshaw opened #220 "Update test descriptions"
Currently descriptions in test files differ considerably from the description in the test matrix. Can these
be updated?

e.g.

test: https://github.com/ipfs/benchmarks/blob/master/tests/extract-go2.js#L42
Matrix: https://github.com/ipfs/benchmarks/tree/master/tests#nodejs-and-go

[2019-01-29 16:56] alanshaw opened #221 "Link from matrix to test file"
When a test has been implemented, can we have a link to the test from the emoji in the matrix?

We need to add the existing ones.

[2019-01-29 17:04] litzenberger commented on #220
@alanshaw yes, will go through the test and update the descriptions based on the matrix.

[2019-01-29 17:44] eefahy commented on #150
We are standing one up presently for gateway monitoring. Should be in place by the end of this week

[2019-01-30 00:38] #216 closed

[2019-01-30 14:21] Elexy commented on #147
https://cloudflare-ipfs.com/ipfs/QmTndWwrHRmvUhVdcej726VJgoWHLjvQCjEczx8kxGUyM7
is an example of a local run with clinic turned off

[2019-01-30 14:21] #147 closed

[2019-01-30 14:38] Elexy commented on #204
@mcollina pulling the config out to the API is probably out of reach for this week i.e. done before Friday February 1st.

[2019-01-30 15:43] mcollina commented on #203
Oh, I understood we couldn't run ipfs in Node 8 anymore. Maybe I understood that wrong and I didn't try.

Then definitely it's not https://github.com/nodejs/node/issues/25741 that is causing this. We're still affected by that on Node v10, it's just not causing this specific issue.
Can you check if there are any specific differences between Node 8 and 10 on that bench? Our runner/benchmark needs No

[2019-01-31 10:59] Elexy commented on #176
fixed in https://github.com/ipfs/benchmarks/commit/6da33c20d33a45e841401ba1c613ba96a4010a82

[2019-01-31 11:17] alanshaw commented on #203
[These tests](https://github.com/ipfs/interop) don't give us any other info by default other than the time it took...

[2019-01-31 12:59] alanshaw commented on #166
They should be continuously run by CI so we shouldn't need to explicitly run them. We should check them to ensure we haven't made any significant regressions since the last version though as part of the release 💃.

[2019-01-31 14:00] litzenberger commented on #214
@alanshaw Is there a way to verify the different options after the peer has been started?  Like, I want to verify the config was built correctly.  Example, verify that a certain test is using SECIO for the encryption?

[2019-01-31 14:46] alanshaw commented on #214
hmm, you could use the `DEBUG` env var to check for secio log messages?

`DEBUG=libp2p:secio node test.js`

@jacobheun / @vasco-santos is there a better way?

[2019-01-31 15:06] jacobheun commented on #214
We should probably add a cleaner way to dump the config for libp2p, DEBUG is probably the easiest way right now if you're just trying to do a spot check.

It's a bit noisy but, `DEBUG=libp2p:switch:transport,libp2p:conn*,-libp2p:connection-manager`, will show you most of the connection flow. libp2p needs to be >=0.24 for this to yield similar results.

An example log would look like the following,

[2019-02-01 14:56] litzenberger commented on #214
@alanshaw Does the go init use libp2p in the config?  I can't find exanples how that is configured in go and now I'm getting `failure: dial attempt failed: <peer.ID Qm*fYYr23> --> <peer.ID Qm*cURiur> dial attempt failed: protocol not supported` when trying to connect js -> go.

[2019-02-02 12:20] litzenberger opened #226 "Dashboard: remove distinct from test name in dashboard"
<img width="449" alt="screen shot 2019-02-01 at 5 46 55 pm" src="https://user-images.githubusercontent.com/6003995/52164159-a7a2a880-26b2-11e9-8ee3-b6f8009d0964.png">

[2019-02-04 15:11] litzenberger commented on #214
@alanshaw ^^^

[2019-02-04 15:12] litzenberger opened #229 "Make test/readme current"
as titled

[2019-02-04 17:55] litzenberger commented on #35
Looks like this is good!  I'll close.

<img width="1600" alt="screen shot 2019-02-04 at 11 52 59 am" src="https://user-images.githubusercontent.com/6003995/52226842-ab315d80-2873-11e9-9d3b-fb0ea4aab60d.png">

cc: @alanshaw

[2019-02-04 17:55] #35 closed

[2019-02-04 17:56] litzenberger opened #231 "Dashboard: Add CPU graph"
as titled

[2019-02-04 18:04] litzenberger commented on #231
Working on it this afternoon.  cc @alanshaw

[2019-02-05 05:51] Elexy commented on #150
Yes, it will. I can add a logstash transport to the ansible scripts.
How would you like to go about configuring endpoint, an IP I guess and installing the TLS cert?

I could prepare the ansible script with instructions on how to add the cert and configure the endpoint and then your team could run it?
What do you think @eefahy ?

[2019-02-05 19:56] litzenberger commented on #221
Added links to the matrix.

[2019-02-05 19:56] #221 closed

[2019-02-05 19:57] litzenberger commented on #220
Updated test description based on test matrix

[2019-02-05 19:57] #220 closed

[2019-02-05 20:15] litzenberger commented on #165
Closing this.

https://github.com/ipfs/benchmarks/pull/224

[2019-02-05 20:15] #165 closed

[2019-02-06 10:06] Elexy commented on #204
@hugomrdias we can now limit the run to an array of named tests and whether to run clinic tools or not: https://github.com/ipfs/benchmarks/pull/236

[2019-02-06 10:06] #204 closed

[2019-02-06 11:13] eefahy commented on #150
Looking at the config for the VM, we don't have ssh access to the machine so I don't think we'd be able to run your ansible script. It would be easier for us to just provide you the url (`logstash.locotorp.info:5045`) and find a way to send you the cert. Do you happen to have a keybase account for that?

cc: @mburns

[2019-02-06 13:47] litzenberger commented on #226
<img width="1371" alt="screen shot 2019-02-06 at 7 46 55 am" src="https://user-images.githubusercontent.com/6003995/52345669-688e9300-29e3-11e9-898b-1a8c296429d5.png">

[2019-02-06 13:47] #226 closed

[2019-02-06 13:48] litzenberger commented on #105
I will be testing this today.

[2019-02-06 15:09] litzenberger commented on #214
I'm going to close this issue out and create a new one specifically for the JS-> go test

[2019-02-06 15:11] litzenberger opened #241 "Js -> Go test fails"
When customizing the libp2p options in the JS peer, the Go peer can't connect.  I can't find the information on syncing the connections.

From the previous issue:
[code]
{ Error: Command failed: export IPFS_PATH=/var/folders/m_/_3zzzw7d6dx3gsxlrffsw0s80000gn/T/ipfs0 && ipfs swarm connect /ip4/127.0.0.1/tcp/4012/ipfs/QmSxYJBid9EUdV61T9dUELAsc2FncyQWaSEvm4ztcURiur
Error: connect QmSxYJBid9EUdV61T9dU

[2019-02-06 15:11] litzenberger commented on #241
I have removed the JS->go tests from the runner until this is resolved.

[2019-02-06 15:37] Elexy commented on #150
Yes, I have a keybase account: `elexy`

[2019-02-06 17:22] Elexy opened #244 "API add nightly param"
like title
/cc @hugomrdias

[2019-02-06 17:36] alanshaw opened #245 "Catch up summary 2019-02-06"
https://cryptpad.fr/code/#/2/code/edit/v77tAiSsBRi0aSOsVGK5fo7z/

## Action Items

- [x] @elexy to open an issue on what is needed to extend the runner to run libp2p benchmarks.
- [x] @alanshaw to send @elexy public key for access ot the server
- [ ] @alanshaw to input on https://github.com/ipfs/benchmarks/issues/241
- [x] @elexy to add var to filter by nightly
- [x] @elexy update API for nightly

[2019-02-06 18:13] Elexy commented on #244
@hugomrdias for CI you need to specify the `x-ipfs-benchmarks-api-key`
Do you have a keybase account I could use to send the api key to?

[2019-02-06 18:24] hugomrdias commented on #244
yeah just sent you a follow

[2019-02-07 08:41] Elexy commented on #198
As discussed in the latest [sync call](https://github.com/ipfs/benchmarks/issues/245) I want to present a proposal to allow the runner to run benchmark tests from a different repository.
The proposal is [here](https://docs.google.com/document/d/1oVgBkPc4iUg4-iKDiKBdWmcZc5Fqn_3MXp_nWvUHPeI/edit?usp=sharing).

[2019-02-07 08:42] Elexy commented on #245
The proposal is [here](https://docs.google.com/document/d/1oVgBkPc4iUg4-iKDiKBdWmcZc5Fqn_3MXp_nWvUHPeI/edit?usp=sharing)

[2019-02-07 08:51] Elexy commented on #245
New Nightly variable is live and add the queries in the 3 dashboards.
[Here is the PR ](https://github.com/ipfs/benchmarks/pull/250)

[2019-02-07 09:24] #176 closed

[2019-02-07 09:31] Elexy commented on #178
@hugomrdias This pertains to the CI integration.

I propose to add a generic `tag` parameter which contains an arbitrary string.
InfluxDB requires we specify all possible tags by name ahead of time. This excludes an array parameter we could propagate to the database.
On the presentation side we can use tag regex to filter on the tag content.
It's probably good to define a tag convention to capture

[2019-02-07 09:32] Elexy commented on #178
Link to tag regex filtering in influx query https://docs.influxdata.com/influxdb/v1.2/query_language/data_exploration/#example-4-use-a-regular-expression-to-specify-tag-values-in-the-where-clause

[2019-02-07 09:35] mburns commented on #150
sent!

[2019-02-07 15:44] Elexy commented on #178
Progress can monitored in [this PR](https://github.com/ipfs/benchmarks/pull/251)

[2019-02-07 17:03] Elexy commented on #178
I've added an extra selector in the Grafana Dashboard to be able to filter on any of these `tag`s

[2019-02-07 17:04] Elexy commented on #178
PR merged closing this

[2019-02-07 17:04] #178 closed

[2019-02-07 17:04] Elexy commented on #244
[This ](https://github.com/ipfs/benchmarks/pull/251) PR adds the nightly parm to the API

[2019-02-07 17:04] #244 closed

[2019-02-07 17:19] Elexy commented on #245
`nightly` and arbitrary `tag` added in [this PR](https://github.com/ipfs/benchmarks/pull/251)
Also the built in scheduler can be disabled by setting `RUN_NIGHTLY`to false in `/etc/environments` on the Controller VM. [This PR](https://github.com/ipfs/benchmarks/pull/250)

[2019-02-08 11:20] Elexy commented on #150
@mburns @eefahy I have a setup running, can you tell me if logs are reaching that server?

[2019-02-08 15:36] litzenberger commented on #105
runner is stable

[2019-02-08 15:36] #105 closed

[2019-02-08 16:36] #229 closed

[2019-02-08 16:38] litzenberger commented on #149
Added a few go benchmarks but had to remove them due to https://github.com/ipfs/benchmarks/issues/241

[2019-02-08 16:39] litzenberger commented on #149
The tests written but removed from the runner ( dashboard) due to the issue above

[2019-02-09 08:23] Elexy commented on #150
Woohoo, we have runner logs: https://cloudflare-ipfs.com/ipfs/Qmc7fEUcBQEMMW7sJyHBS1ihyXmmBRhvEpTwpsnQYxrgfd

[2019-02-09 08:23] #150 closed

[2019-02-09 08:24] Elexy commented on #245
@alanshaw I got the public key from @hugomrdias he should be able to access the VM.

[2019-02-11 10:23] mcollina commented on #16
Closing as it all happened.

[2019-02-11 10:23] #16 closed

[2019-02-11 10:24] mcollina commented on #245
I think we can close this.

[2019-02-11 10:24] #245 closed

[2019-02-12 09:32] vasco-santos commented on #198
Thanks for the proposal @Elexy !

[2019-02-19 13:09] jacobheun commented on #241
I believe the issue is here https://github.com/ipfs/benchmarks/blob/a8549f6c686ea0f517e164d7d565de0b0b3658b5/tests/lib/create-node.js#L55-L57

Currently it's trying to add secio to the stream muxers, which is incorrect, it should be `connEncryption`. Also, I believe secio might be required right now, so it should probably be added as a default until we have support for other encryptors.
[code]

[2019-03-12 18:51] Stebalien opened #261 "Add dtrace support to go-ipfs"
We can probably do this with a go-ipfs plugin to avoid any invasive changes. We already have pprof support but the current tooling in this repo uses dtrace and integrating it into go-ipfs shouldn't be difficult.

[2019-05-31 16:45] Amorn-Kingthong commented on #149
go

[2019-07-15 15:20] daviddias opened #262 "benchmark.ipfs.team is down"
@mburns can you check this?

[2019-07-31 03:13] jimpick commented on #262
Seems to have been fixed.

[2019-07-31 09:04] daviddias commented on #262
@mburns wanna give a quick write up here of what it was or point to the issues that walk us through the fix?

[2019-08-14 00:13] jimpick opened #271 "Grafana dashboard - invididual tests prototype"
I prototyped splitting the grafana graphs from the js-ipfs benchmarks run into individual graphs so it is easier to see the trends. Here's a really tall screenshot with all of the tests. The data is from my own development benchmark minion server running on a cheap AWS vm, so the data is a bit noisy. In some of the graphs, I show all 4 file sizes. In others, I graph one file size, but show differe

[2019-09-05 09:42] alanshaw opened #272 "Ensure docker is started on boot"
There's no systemd configuration for docker so if the machine is rebooted it is not started up.

[2019-09-05 09:43] alanshaw commented on #262
The machine was restarted and no systemd config exists to bring the docker service back up. I've created an issue here so we can address the issue https://github.com/ipfs/benchmarks/issues/272

[2019-09-05 09:43] #262 closed

[2019-09-05 09:55] alanshaw commented on #141
We have a HTTP API with an API key - I think this is sufficient for now!

[2019-09-05 09:55] #141 closed

[2019-09-05 09:58] alanshaw opened #273 "Add group_var for cluster version"
Should enable easier upgrade!

[2019-09-16 21:20] jimpick opened #274 "https://benchmarks.ipfs.team/ says "Grafana has failed to load""
https://benchmarks.ipfs.team

<img width="760" alt="Screenshot 2019-09-16 14 19 23" src="https://user-images.githubusercontent.com/20886/64994283-05c07c80-d88d-11e9-8aa1-ec1d776bd548.png">

[2019-09-17 17:11] daviddias commented on #274
Probably same as https://github.com/ipfs/benchmarks/issues/262 given that https://github.com/ipfs/benchmarks/issues/272 hasn't shipped

[2019-09-17 17:42] daviddias commented on #272
@achingbrain @jacobheun you both have access to the machines running Grafana (https://github.com/ipfs/benchmarks/blob/master/infrastructure/inventory/inventory.yaml), that's correct?

[2019-09-18 08:10] jacobheun commented on #272
It doesn't look like I do.

[2019-10-11 16:43] jimpick commented on #274
It's been 24 days... I can try to fix this if I can get the passwords to log in.

[2019-11-05 22:32] momack2 commented on #274
Still seeing this issue